.back-btn {
  display: flex;
  margin-top: 2rem;
  margin-left: 0.8rem;
  color: #f05728;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  align-items: center;
  gap: 10px;
  font-family: "Work-Sans";

  @font-face {
    font-family: "Work-Sans";
    src: url("../../../Fonts/work-sans.medium.ttf");
    font-style: normal;
  }
}

.whole-container {
  width: 100%;

  // border-bottom: 1px solid #9e9e9e;
}

.chart {
  width: 100%;
  display: flex;
  align-items: center;

  .bar-chart-line {
    width: 19%;
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;

    @media (max-width: 1440px) {
      margin-top: 3.2rem;
    }
  }

  .line-chart-bar {
    width: 80%;
  }
  .line-chart-bar-condition {
    width: 100%;
  }
}

.lineChart-container {
  background-color: white;
  border-radius: 8px;
  width: 88%;
  height: auto;
  margin: auto;
  margin-top: 2rem;

  .Add-country {
    height: 4rem;
    width: 98%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    background-color: #f5f5f5;

    .country {
      border-right: 1px solid #9e9e9e;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-align: center;
      color: #757575;
      display: flex;
      height: 3rem;
      width: 100%;

      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;

        @media (max-width: 998px) {
          font-size: 13px;
        }
      }
      .circle {
        width: 20.67px;
        margin-right: 0.5rem;
        background-color: #f05728;
        height: 2.67px;
        transform: rotate(180deg);
        display: flex;
        // border-radius: 50px;

        @media (max-width: 998px) {
          width: 8px;
          height: 8px;
        }
      }
    }

    .country-add {
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #212121;
      display: flex;
      height: 3rem;
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;

      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;

        @media (max-width: 998px) {
          font-size: 13px;
        }
      }
      .faplus {
        margin-right: 0.5rem;
      }
    }

    .country-added {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // text-align: center;

      .circle-line-added-country {
        width: 20.67px;
        margin-right: 0.5rem;
        background-color: #2a00ff;
        height: 2.67px;
        transform: rotate(180deg);
        display: flex;
        // border-radius: 50px;

        @media (max-width: 998px) {
          width: 8px;
          height: 8px;
        }
      }

      .title-line-added-country {
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        color: #757575;
        display: flex;
        align-items: center;
        gap: 2px;

        @media (max-width: 998px) {
          font-size: 13px;
        }
        .close-addCountry-btn {
          margin-top: 0.3rem;
          border: none;
          background: transparent;
          outline: none;
          cursor: pointer;
          align-items: center;
        }
      }

      .contry-name {
        font-size: 20px;
        line-height: 20px;
        border: none;
        background: transparent;
        outline: none;

        &::-webkit-input-placeholder {
          font-weight: 500;
          color: #212121;
        }
      }
    }
    .select-country {
      font-size: 20px;
      font-weight: 600;
      line-height: 48px;
      color: #9e9e9e;
      text-align: center;
      width: 100%;
    }
  }

  .heading-content {
    align-items: center;
    width: 98%;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-between;

    .s-icon {
      cursor: pointer;
      background: transparent;
      border: none;
      position: relative;
    }
    .d-icon {
      cursor: pointer;
      background: transparent;
      border: none;
    }

    .share-content {
      background-color: white;
      border-radius: 8px;
      left: 82.5%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      position: absolute;
      width: 10%;

      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;

      @keyframes growDown {
        0% {
          transform: scaleY(0);
        }
        80% {
          transform: scaleY(1.1);
        }
        100% {
          transform: scaleY(1);
        }
      }

      .share-item {
        cursor: pointer;
        transition: all 0.2s;
        padding: 10px;

        &:hover {
          background: #f5f5f5;
          border-radius: 8px;
        }
      }
    }

    .heading {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #f05728;

      @media (max-width: 998px) {
        font-size: 1.5rem;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 1rem;

    @media (max-width: 998px) {
      width: 98%;
    }

    .right-button {
      display: flex;
      width: 100%;
      justify-content: end;
      gap: 10px;

      @media (max-width: 998px) {
        width: 44%;
        height: 4rem;
      }
      @media (max-width: 1280px) {
        width: 45%;
        height: 3.2rem;
      }
    }

    .left-button {
      display: flex;
      width: 35%;
      gap: 45px;

      @media (max-width: 998px) {
        width: 44%;
        height: 4rem;
        gap: 30px;
      }

      .select-country-btn {
        width: 100%;
      }
      .select-date-btn {
        width: 100%;
      }
    }

    .left-ouline-button {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: transparent;
      color: #101828;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      cursor: pointer;
      padding-bottom: 0.5rem;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
    }

    .left-ouline-buttonTwo {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: #101828;
      width: 100%;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
    }

    .right-ouline-button {
      display: flex;
      align-items: center;
      width: max-content;
      gap: 10px;
      color: white;
      font-weight: 600;
      justify-content: space-between;
      padding-left: 1rem;
      background-color: #f05728;
      padding-right: 1rem;
      padding-top: 0.5rem;
      font-size: 20px;
      cursor: pointer;
      line-height: 28px;
      padding-bottom: 0.5rem;
      border: 1px solid #f05728;
      border-radius: 8px;

      @media (max-width: 998px) {
        font-size: 12px;
      }
    }
    .right-ouline-buttonTwo {
      display: flex;
      align-items: center;
      color: #f05728;
      background-color: transparent;
      width: max-content;
      gap: 10px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      line-height: 28px;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 1px solid #f05728;
      border-radius: 8px;
      @media (max-width: 998px) {
        font-size: 12px;
      }
    }
  }
}
