.btn-wrapper {
  width: auto;
  position: relative;

  .btn-container {
    width: max-content;
    border: 1px solid #eeeeee;
    background: #f5f5f5;
    cursor: pointer;
    color: #616161;
    gap: 8px;
    // padding-right: 0.8rem;
    // padding-left: 0.8rem;
    // height: 2.3rem;
    padding: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .content-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 120%;
    right: 0%;
    cursor: pointer;
    padding: 0.625rem;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 0.5rem;
    background: white;
    z-index: 999999999999999999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    @keyframes growDown {
      0% {
        transform: scaleY(0);
      }
      80% {
        transform: scaleY(1.1);
      }
      100% {
        transform: scaleY(1);
      }
    }

    .filter-item {
      align-items: center;
      padding: 0.625rem;
      justify-content: space-between;
      display: flex;
      gap: 25px;
      transition: all 0.2s;
      z-index: 100;
      color: #616161;
      width: 100%;
      text-align: left;
      font-size: 0.875rem;

      .sort-circle {
        position: relative;
        width: 0.813rem;
        height: 0.813rem;
        border-radius: 50%;
        border: 1px solid #f05728;
      }

      .sort-circle-colored {
        position: absolute;
        width: 0.3rem;
        left: 4.5px;
        top: 4px;
        height: 0.3rem;
        background-color: #f05728;
        border-radius: 50%;
      }

      &:hover {
        background-color: #eeeeee;
        border-radius: 0.25rem;
      }
    }
  }
}
