.wrapper {
  width: 50%;
  height: 40rem;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  margin-top: 1.5rem;

  .content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .heading {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    color: #f05728;

    .heading-button {
      margin-right: 1rem;
      border-radius: 4px;
      color: #212121;
      cursor: pointer;
      border: 1px solid #eeeeee;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      background-color: #f5f5f5;
    }

    @media (max-width: 998px) {
      font-weight: 700;
      font-size: 12px;
      line-height: 28px;
    }
  }

  .bar-chart-wrapper {
    background-color: white;
    width: 100%;
    max-height: 30rem;
    // margin-bottom: 60rem;
    border-radius: 8px;
    overflow: auto;
  }
  .chart-content {
    display: flex;
    align-items: center;
    // padding: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;

    @media (max-width: 998px) {
      padding-left: 1rem;
      padding-bottom: 0.5rem;
    }

    .country {
      // border-left: 1px solid #212121;
      font-weight: 500;
      font-size: 12px;
      width: 13%;
      text-align: right;
      line-height: 18px;
      color: #212121;

      @media (max-width: 998px) {
        font-weight: 500;
        font-size: 8px;
        width: 15%;
        font-weight: 500;
        color: #212121;
      }
    }

    .bar {
      width: 75%;
      background-color: #f15827;
      height: 2.5rem;
      opacity: 50%;
      margin-left: 0.5rem;
      padding-right: 2rem;
      border-radius: 4px;

      @media (max-width: 998px) {
        height: 1.5rem;
        border-radius: 0px 4px 4px 0px;
        width: 75%;
      }
    }
  }
  .chart-bar {
    overflow-x: hidden;
    height: 30rem;

    &.chart-bar::-webkit-scrollbar {
      width: 0px;
    }

    @media (max-width: 998px) {
      height: 29rem;
    }
  }
}
