.modal-background {
  //   background-color: aqua;
  width: 100%;
  height: 100%;
  //   position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  z-index: 100;
  left: 0%;
  margin: 0%;

  .modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-body {
      padding: 1rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 40%;
      height: auto;
      border-radius: 0.5rem;

      .modal-cloe-btn {
        width: 100%;
        cursor: pointer;
        border: none;
        background: transparent;
        display: flex;
        justify-content: end;
      }
      .modal-content {
        display: flex;
        width: 100%;
        margin-bottom: 2.7rem;
        margin-top: 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .component-link {
          width: 60%;
          outline: none;
          border-radius: 0.25rem;
          border: 2px solid #eeeeee;
          padding: 0.8rem;
        }
        .copy-btn {
          border: none;
          padding: 0.8rem;
          background-color: #f05728;
          border-radius: 0.25rem;
          width: max-content;
          color: white;
          cursor: pointer;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
}
