.table-wrapper {
  width: auto;
  padding: 1rem;
  height: 28.88rem;

  .table-border {
    width: auto;
    border: 1px solid #eeeeee;
    padding: 0.5rem;
    border-radius: 4px;
    height: 27.88rem;

    .fixed_header {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }

    .fixed_header tbody {
      overflow: auto;
      height: 390px;
      font-weight: 400;
      font-size: 14px;
      width: 100%;
      color: #424242;
      display: flex;
      flex-direction: column;
    }

    .fixed_header thead tr,
    .fixed_header tbody tr {
      width: 100%;
      display: flex;
      height: 50px;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;

      tbody tr {
        border-bottom: 1px solid black;
      }
    }

    .fixed_header thead {
      background: #f5f5f5;
      border-radius: 4px;
      color: #f05728;
      font-size: 14px;
      font-weight: 600;
      height: 50px;

      &table th:first-child {
        border-radius: 10px 0 0 10px;
      }

      &table th:last-child {
        border-radius: 0 10px 10px 0;
      }
    }

    .fixed_header th,
    .fixed_header td {
      padding: 5px;
      text-align: center;
      width: 20%;
    }

    .fixed_header th:last-child {
      padding-right: 11px;
    }

    /* scrollbar */
  }
}
