.trend-wrapper {
  width: 88%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  height: auto;

  .trendingHashtag-loader {
    width: 100%;
    height: 35rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .note {
    top: 43rem;
    justify-content: end;
    font-style: italic;
    color: #000000;
    display: flex;
    font-size: 12px;
    z-index: 99999999999999;
    width: 100%;
    font-weight: 500;
    left: 46rem;
    margin: 0%;
  }

  .content {
    padding: 1rem;

    .heading {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      color: #f05728;
      margin-bottom: 1rem;
      z-index: 99999999999999999;

      .info-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 99999999999999999999999;
      }
    }

    .hashtags-wrapper {
      width: 100%;
      // background: #f5f5f5;
      height: 600px;
      border-radius: 8px;
      margin-top: 1rem;
      display: flex;
      // position: relative;

      .left-trending-content {
        width: 30%;
        display: flex;
        flex-direction: column;
        z-index: 99;

        .trending-content {
          width: 20%;
          margin: auto;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;

          .trending-heading {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #616161;
            margin-top: 1rem;
            width: max-content;
          }

          .trending-score-hashtag {
            font-weight: 600;
            font-size: 52px;
            line-height: 48px;
            color: #f05728;
            margin-top: 0.3rem;
          }

          .trending-score {
            font-weight: 700;
            font-size: 54px;
            line-height: 48px;
            color: #f05728;
            margin-top: 0.5rem;
          }
        }
      }
      .right-trending-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .trending-bubble-content {
          .bg-image {
            position: absolute;
            left: -46rem;
            top: -7.5rem;
            height: 139%;
          }
          width: auto;
          height: 100%;
          align-items: center;
          // background-color: white;
          display: flex;
          justify-content: center;
          position: relative;

          .bubble-one {
            position: absolute;
            z-index: 100;
            width: 154.15px;
            height: 154.15px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #f05728 0%,
                  #d0c1f7 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 0px 20px rgba(255, 147, 147, 0.13),
              60px 120px 80px rgba(5, 0, 255, 0.1),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 0px -20px 50px #3244e8;
          }

          .bubble-one-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            cursor: pointer;
            width: max-content;
            overflow: hidden;
            align-items: center;
            text-align: center;

            .hashtag-title {
              font-weight: 700;
              font-size: 20px;
              line-height: 32px;
              width: 7rem;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 14px;
              line-height: 20px;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-one {
            width: 61.77px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(24.57deg);
            left: -7rem;
            top: 16rem;
          }

          .bubble-two {
            position: absolute;
            z-index: 100;
            display: inline-block;
            top: 11.5rem;
            left: -11.5rem;
            width: 88.17px;
            height: 88.17px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #f05728 0%,
                  #d0c1f7 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 0px 20px rgba(255, 147, 147, 0.13),
              60px 120px 80px rgba(5, 0, 255, 0.1),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 0px -20px 50px #3244e8, inset 10px 20px 100px #ff3d00;
          }

          .bubble-two-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            top: 12.8rem;
            width: 5rem;
            overflow: hidden;
            left: -12rem;

            .hashtag-title {
              font-weight: 700;
              font-size: 13px;
              // line-height: 32px;
              width: 2rem;
              letter-spacing: 0.15px;
              text-align: center;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 9px;
              line-height: 20px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-two {
            width: 61.77px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(-61.03deg);
            left: 1rem;
            top: 13.5rem;
          }

          .bubble-three {
            position: absolute;
            z-index: 100;
            top: 7.5rem;
            left: 1.8rem;
            width: 88.17px;
            height: 88.17px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #f05728 0%,
                  #d0c1f7 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 0px -20px 50px #5059b3;
          }

          .bubble-three-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            top: 8.8rem;
            width: 5rem;
            left: 1.2rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 700;
              font-size: 13px;
              width: 2rem;
              // line-height: 32px;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 9px;
              line-height: 20px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-three {
            width: 81.95px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(-2.81deg);
            left: 4rem;
            top: 18.5rem;
          }

          .bubble-four {
            position: absolute;
            z-index: 100;
            top: 16.3rem;
            left: 8.8rem;
            width: 61.66px;
            height: 61.66px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #f05728 0%,
                  #d0c1f7 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 0px -20px 50px #24309c;
          }

          .bubble-four-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            justify-content: center;
            top: 16.8rem;
            width: 3rem;
            overflow: hidden;
            left: 9rem;

            .hashtag-title {
              font-weight: 700;
              font-size: 10px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 7px;
              line-height: 15px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-four {
            width: 81.95px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(-55.22deg);
            left: -5rem;
            top: 23rem;
          }

          .bubble-five {
            position: absolute;
            z-index: 100;
            top: 24.3rem;
            left: -8.99rem;
            width: 107.9px;
            height: 107.9px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #f05728 0%,
                  #d0c1f7 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 0px -20px 50px #5059b3;
          }

          .bubble-five-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 24rem;
            width: 4.3rem;
            left: 4.9rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 700;
              font-size: 13px;
              // line-height: 32px;

              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 9px;
              line-height: 15px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-five {
            width: 50.22px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(77.35deg);
            left: 0rem;
            top: 24rem;
          }

          .bubble-six {
            position: absolute;
            z-index: 100;
            top: 25.3rem;
            left: 0.4rem;
            width: 62.28px;
            height: 62.28px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(240, 87, 40, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 100px #f05728;
          }

          .bubble-six-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 25.8rem;
            width: 100%;
            left: 2.4rem;

            .hashtag-title {
              font-weight: 700;
              font-size: 12px;
              // line-height: 32px;
              width: max-content;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 7.5px;
              line-height: 15px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-six {
            width: 71.42px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              linear-gradient(90.05deg, #5f61df 4.31%, #e56a53 100.17%);
            transform: rotate(44.43deg);
            left: 3rem;
            top: 23rem;
          }

          .bubble-seven {
            position: absolute;
            z-index: 100;
            top: 23.3rem;
            left: 5.4rem;
            width: 72.14px;
            height: 72.14px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #3244e8 0%,
                  rgba(0, 2, 16, 0) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              rgba(3, 0, 146, 0.5);
            box-shadow: 0px 4px 80px rgba(240, 87, 40, 0.5),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 100px #f05728;
          }

          .bubble-seven-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            top: 25.99rem;
            cursor: pointer;
            width: max-content;
            left: -8.11rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 700;
              font-size: 18px;
              // line-height: 32px;
              width: 4.8rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 12px;
              line-height: 15px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-seven {
            width: 40.82px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );

            transform: rotate(149.04deg);
            left: -7rem;
            top: 12.5rem;
          }

          .bubble-eight {
            position: absolute;
            z-index: 100;
            top: 9.5rem;
            left: -5.1rem;
            width: 53.64px;
            height: 53.64px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 50px #ff6e05;
          }

          .bubble-eight-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 17.9rem;
            width: 1.8rem;
            overflow: hidden;
            left: -8.4rem;

            .hashtag-title {
              font-weight: 500;
              width: 2rem;
              font-size: 7px;
              // line-height: 32px;
              width: max-content;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 4px;
              line-height: 5px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }
          .bubble-line-eight {
            width: 75.06px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );

            transform: rotate(92.29deg);
            left: -11rem;
            top: 9.5rem;
          }

          .bubble-nine {
            position: absolute;
            z-index: 100;
            top: 4rem;
            left: -10.5rem;
            width: 64.74px;
            height: 64.74px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.29);
          }

          .bubble-nine-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 16.9rem;
            width: 2rem;
            left: -17.22rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 700;
              font-size: 8px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
            .count {
              font-weight: 200;
              font-size: 4px;
              line-height: 10px;
              width: max-content;
              color: rgba(255, 255, 255, 1);
              opacity: 0.8;
            }
          }

          .bubble-line-nine {
            width: 28.79px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(69.68deg);
            left: -9rem;
            top: 17.5rem;
          }

          .bubble-ten-content {
            display: flex;
            position: absolute;

            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 18.7rem;
            width: max-content;
            overflow: hidden;

            left: -13rem;

            .hashtag-title {
              font-weight: 500;
              font-size: 12px;
              // line-height: 32px;
              width: 2.9rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }

          .bubble-ten {
            position: absolute;
            z-index: 100;
            top: 18rem;
            left: -8.66rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #3244e8 0%,
                  rgba(0, 2, 16, 0) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.1),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 50px #ff6e05;
          }
          .bubble-line-ten {
            width: 35.85px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(112.99deg);
            left: -11.3rem;
            top: 17.5rem;
          }

          .bubble-eleven {
            position: absolute;
            z-index: 100;
            top: 18.3rem;
            left: -13.44rem;
            width: 62.28px;
            height: 62.28px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #001aff 0%,
                  rgba(0, 2, 16, 0) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #ffffff;
            box-shadow: 0px 4px 80px rgba(240, 87, 40, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 100px #f05728;
          }

          .bubble-eleven-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 13.4rem;
            width: 1.8rem;
            left: -14.74rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 500;
              font-size: 7.5px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }

          .bubble-line-eleven {
            width: 35.85px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(175.91deg);
            left: -13.3rem;
            top: 14.5rem;
          }

          .bubble-twelve {
            position: absolute;
            z-index: 100;
            top: 13.5rem;
            left: -15rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }

          .bubble-twelve-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            justify-content: center;
            top: 4.5rem;
            width: 4rem;
            overflow: hidden;
            left: -10.99rem;

            .hashtag-title {
              font-weight: 500;
              font-size: 13px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }

          .bubble-line-twelve {
            width: 37.44px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(-55.89deg);
            left: -16.3rem;
            top: 16.5rem;
          }

          .bubble-thirteen {
            position: absolute;
            z-index: 100;
            top: 17rem;
            left: -17.5rem;
            width: 39.46px;
            height: 39.46px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }

          .bubble-thirteen-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 9.66rem;
            width: 3rem;
            left: -5.2rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 500;
              font-size: 12px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }

          .bubble-line-thirteen {
            width: 30.07px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(3.81deg);
            left: 6.7rem;
            top: 9.5rem;
          }

          .bubble-fourteen {
            position: absolute;
            z-index: 100;
            top: 7.8rem;
            left: 8.5rem;
            width: 64.74px;
            height: 64.74px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.29);
          }

          .bubble-fourteen-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 8.3rem;
            width: 3rem;
            left: 8.7rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 500;
              font-size: 12px;
              // line-height: 32px;
              width: 2rem;
              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }
          .bubble-line-fourteen {
            width: 57.51px;
            height: 0.1rem;
            position: absolute;
            background: linear-gradient(
              90.05deg,
              #e56a53 4.31%,
              #ffc8bd 100.17%
            );
            transform: rotate(8.3deg);
            left: 12rem;
            top: 18.5rem;
          }

          .bubble-fifteen-content {
            display: flex;
            position: absolute;
            z-index: 999999;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            top: 17.5rem;
            width: 3rem;
            left: 15.77rem;
            overflow: hidden;

            .hashtag-title {
              font-weight: 500;
              font-size: 12px;
              width: 2rem;
              // line-height: 32px;

              text-align: center;
              letter-spacing: 0.15px;
              color: white;
            }
          }

          .bubble-fifteen {
            position: absolute;
            z-index: 100;
            top: 17rem;
            left: 15.5rem;
            width: 62.28px;
            height: 62.28px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(240, 87, 40, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 100px #f05728;
          }

          .bubble-sixteen {
            position: absolute;
            z-index: 100;
            top: 5rem;
            left: -4.5rem;
            width: 35.15px;
            height: 35.15px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.2),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 50px #ff6e05;
          }
          .bubble-seventeen {
            position: absolute;
            z-index: 100;
            top: 5rem;
            left: -16.5rem;
            width: 28.98px;
            height: 28.98px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
          .bubble-eighteen {
            position: absolute;
            z-index: 100;
            top: 31rem;
            left: -14.5rem;
            width: 37.61px;
            height: 37.61px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
          .bubble-nineteen {
            position: absolute;
            z-index: 100;
            top: 4rem;
            left: 4rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
          .bubble-twenty {
            position: absolute;
            z-index: 100;
            top: 15rem;
            left: 6.2rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: radial-gradient(
                  96% 96% at 70.4% 31.2%,
                  #3244e8 0%,
                  rgba(0, 2, 16, 0) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
              #030092;
            box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.48),
              inset 0px 2px 10px rgba(255, 255, 255, 0.58),
              inset 10px 20px 50px #ff6e05;
          }
          .bubble-twentyone {
            position: absolute;
            z-index: 100;
            top: 23.4rem;
            left: 11.7rem;
            width: 35.15px;
            height: 35.15px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
          .bubble-twentytwo {
            position: absolute;
            z-index: 100;
            top: 29.4rem;
            left: 12.5rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
          .bubble-twentythree {
            position: absolute;
            z-index: 100;
            top: 23.4rem;
            left: 16.8rem;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #ffa98e;
            box-shadow: 0px 4px 80px rgba(35, 0, 248, 0.3);
          }
        }
      }
    }
  }
}
