.trend-wrapper {
  width: 88%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  height: auto;

  .content {
    padding: 1rem;

    .heading {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      color: #f05728;
    }

    .hashtags-wrapper {
      width: 100%;
      background-color: #f5f5f5;
      height: auto;
      border-radius: 8px;
      margin-top: 1rem;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto;

      .hashtags-data {
        display: flex;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #f05728;
        width: 100%;
        padding: 1rem;
      }
    }
  }
}
