.filter-wrapper {
  width: 100%;
  display: flex;
  height: 5.75rem;
  background-color: white;
  margin-top: 1.5rem;

  .apply-reset-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2rem;

    .apply-btn {
      border: 1px solid #f05728;
      background-color: #f05728;
      font-weight: 500;
      cursor: pointer;
      width: max-content;
      padding-left: 2rem;
      color: white;
      line-height: 24px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      padding-top: 0.5rem;
      padding-right: 2rem;
      padding-bottom: 0.5rem;
      border-radius: 8px;
      font-size: 16px;
    }

    .reset-btn {
      border: 1px solid #e0e0e0;
      background-color: white;
      font-weight: 500;
      width: max-content;
      cursor: pointer;
      padding-left: 2rem;
      color: #616161;
      line-height: 24px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      padding-top: 0.5rem;
      padding-right: 2rem;
      padding-bottom: 0.5rem;
      border-radius: 8px;
      font-size: 16px;
    }
  }

  .buttons-wrapper {
    display: flex;
    align-items: center;
    width: 88%;
    margin: auto;

    .dropdown-btn-wrapper {
      width: 100%;
      display: flex;
      gap: 12px;
    }
  }

  .dropdown-filter-button-colored {
    border: 1px solid #fcad95;
    padding: 0.66rem;
    border-radius: 8px;
    background: #f9fafb;
    box-shadow: 0px 1px 2px rgba(254, 245, 242, 0.05), 0px 0px 0px 4px #fef5f2;
    width: auto;
    gap: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
    position: relative;

    .dropdown-filter-wrapper {
      z-index: 99999999;
      background-color: white;
      border-radius: 8px;
      width: 100%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      top: 130%;
      left: 0%;
      cursor: pointer;
      max-height: 20rem;
      overflow: hidden;
      position: absolute;

      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;

      @keyframes growDown {
        0% {
          transform: scaleY(0);
        }
        80% {
          transform: scaleY(1.1);
        }
        100% {
          transform: scaleY(1);
        }
      }

      .overflow-wrapper {
        height: 14rem;
        margin: 0.3rem;
        margin-left: 0%;
        overflow: scroll;
        overflow-x: hidden;

        .dropdown-filter-item {
          display: flex;
          padding: 0.7rem;
          font-weight: 400;
          line-height: 24px;
          font-size: 16px;
          &:hover {
            background-color: #fef5f2;
          }

          .dropdown-list {
            list-style: none;
            color: #101828;
            &:hover {
              background-color: #fef5f2;
            }
          }
        }
      }
    }

    .dropdown-filter-content {
      display: flex;
      gap: 25px;
      align-items: center;
      height: auto;
      padding: 0%;
      margin: 0%;
      justify-content: space-between;
      width: auto;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      color: #667085;

      .filter-content {
        display: flex;
        height: auto;
        width: auto;
        gap: 10px;
        align-items: center;
      }

      .user-Icon {
        width: 13.33px;
        height: 15px;
      }

      .filter-title {
        width: 100%;
        margin: 0%;
        line-height: 24px;
        align-items: center;
      }

      .faAngleDown {
        cursor: pointer;
        color: #667085;

        align-items: center;
      }
    }
  }

  .dropdown-filter-button {
    border: 1px solid #bdbdbd;
    padding: 0.66rem;
    border-radius: 8px;
    background: #f9fafb;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    // width: 100%;
    gap: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
    position: relative;

    .dropdown-filter-wrapper {
      z-index: 99999999;
      background-color: white;
      border-radius: 8px;
      // width: 100%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      top: 130%;
      left: 0%;
      cursor: pointer;
      max-height: 20rem;
      overflow: hidden;
      position: absolute;

      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;

      @keyframes growDown {
        0% {
          transform: scaleY(0);
        }
        80% {
          transform: scaleY(1.1);
        }
        100% {
          transform: scaleY(1);
        }
      }

      .overflow-wrapper {
        height: 14rem;
        margin: 0.3rem;
        overflow: scroll;
        overflow-x: hidden;

        .dropdown-filter-item {
          display: flex;
          padding: 1rem;
          font-weight: 400;
          line-height: 24px;
          font-size: 16px;

          .dropdown-list {
            list-style: none;
            color: #101828;

            &:hover {
              background-color: #fef5f2;
            }
          }
        }
      }
    }

    .dropdown-filter-content {
      display: flex;
      gap: 25px;
      align-items: center;
      height: auto;
      padding: 0%;
      margin: 0%;
      justify-content: space-between;
      // width: 100%;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      color: #667085;

      .filter-content {
        display: flex;
        height: auto;
        // width: max-content;
        gap: 10px;
        align-items: center;
      }

      .user-Icon {
        width: 13.33px;
        height: 15px;
      }

      .filter-title {
        width: 100%;
        margin: 0%;
        line-height: 24px;
        align-items: center;
      }

      .faAngleDown {
        cursor: pointer;
        color: #667085;

        align-items: center;
      }
    }
  }
  .dropdown-filter-button-calender {
    border: 1px solid #98a2b3;
    padding: 0.5rem;
    border-radius: 8px;
    background: #f9fafb;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    // width: 100%;
    gap: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
    position: relative;

    .calender {
      position: absolute;
      top: 130%;
      width: 100%;
      border-radius: 8px;
      background-color: white;
      z-index: 99999999;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      padding: 0.5rem;
      width: max-content;
      right: 0%;
    }

    .dropdown-filter-content-calender {
      display: flex;
      gap: 25px;
      align-items: center;
      height: auto;
      padding: 0%;
      margin: 0%;
      // justify-content: space-between;
      width: 100%;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      color: #667085;

      .filter-content {
        display: flex;
        height: auto;
        width: max-content;
        gap: 10px;
        align-items: center;
      }

      .user-Icon {
        width: 13.33px;
        height: 15px;
      }

      .filter-title {
        width: 100%;
        margin: 0%;
        line-height: 24px;
        align-items: center;
      }

      .faAngleDown {
        cursor: pointer;
        color: #667085;

        align-items: center;
      }
    }
  }

  .dropdown-filter-button-calender-colored {
    border: 1px solid #fcad95;
    padding: 0.5rem;
    border-radius: 8px;
    background: #f9fafb;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    // width: 100%;
    gap: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
    position: relative;

    .calender {
      position: absolute;
      top: 130%;
      width: 100%;
      border-radius: 8px;
      background-color: white;
      z-index: 99999999;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      padding: 0.5rem;
      width: max-content;
      right: 0;
    }

    .dropdown-filter-content-calender {
      display: flex;
      gap: 25px;
      align-items: center;
      height: auto;
      padding: 0%;
      margin: 0%;
      // justify-content: space-between;
      width: 100%;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      color: #667085;

      .filter-content {
        display: flex;
        height: auto;
        width: max-content;
        gap: 10px;
        align-items: center;
      }

      .user-Icon {
        width: 13.33px;
        height: 15px;
      }

      .filter-title {
        width: 100%;
        margin: 0%;
        line-height: 24px;
        align-items: center;
      }

      .faAngleDown {
        cursor: pointer;
        color: #667085;

        align-items: center;
      }
    }
  }
}

.global-filter-btn {
  position: fixed;
  // margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(88, 89, 91, 0.2);
  background-color: white;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  z-index: 999999999999999999999999999;
  // display: none;
  border: 1px solid #f05728;
  // position: relative;
}

.hide-filter-icon {
  display: none;
}

.global-filter-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #101828;
}
